<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-center">
    <div
      class="labels d-flex gap-3 align-items-center"
      style="padding-inline-end: 15px"
    >
      <p style="margin: 0">{{'Home' | translate}}</p>

      <form [formGroup]="formGroup">
        <p-toggleButton
          formControlName="currentLang"
          (onChange)="
            changeCurrentLang(formGroup.controls['currentLang'].value)
          "
          onLabel="en"
          offLabel="ar"
        />
      </form>
      <div class="logout" routerLinkActive="active" (click)="logout()" >
        <a class="basic-white text-decoration-inherit cursor-pointer">
          <img
            style="padding-inline-end: 15px; width: 40px"
            src="../../../assets/images/icons/SvgjsSvg1001.svg"
          />
         {{'logout' | translate}} </a
        >
      </div>
    </div>
  </div>
</nav>
